body {
background-color:#000;
color:#0f0;
}
a {
color:#0f0;
}

a:visited {
color:#006100;
}

h3.smpbns_title {
font-family:"URW Chancery L","Comic Sans MS",serif;
font-size:24pt;
text-align:center;
}

p.smpbns_news {
font-size:12pt;
font-family:"Linux Libertine","Times New Roman",serif;
}

p.smpbns_date {
font-family:"DejaVu Sans","Arial CE",sans-serif;
font-size:8pt;
text-align:right;
}

a.smpbns_admin {
font-size:10pt;
}

p.smpbns_footer {
font-size:10pt;
text-align:center;
}

a.smpbns_main_link {
font-size:10pt;
}

p.smpbns_info {
color:#00f;
font-size:12pt;
font-weight:bold;
}

p.smpbns_modlogin_text {
font-size:12pt;
}

a.smpbns_modmenu {
font-size:12pt;
}

p.smpbns_text {
font-size:12pt;
}

p.smpbns_error {
color:#f00;
font-size:14pt;
font-weight:bold;
}

font.smpbns_parse_checkbox_text {
color:#0f0;
font-size:10pt;
}

p.smpbns_pages {
font-size:10pt;
color:#0f0;
}

a.smpbns_pagelink {
font-size:10pt;	
}
